/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --primary-clr: #381d1f;
    --header: #282b30;
    --border-clr: #A50519;
    --main-text-clr: rgb(255, 254, 254);
    --bg: #424549;
    --sidebar: #36393e;
    --light-txt-clr: rgb(148, 148, 148);
}

body {
	font-family: 'Kanit', sans-serif;
	font-family: 'Lato', sans-serif;	
}
/* HEADER || */
#header {
	font-weight: bold;
	background-color: var(--header);
	color: white;
	font-size: 40px;
	height: 60px;
	
}

/* CONTAINER || */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.task-container {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

/* SIDEBAR || */
.sidebar {
    background-color: var(--sidebar);
    min-height: 100vh;
    /* width: 300px; */
}

.right-content {
	background-color: var(--bg);
}

/* TASK CONTENT || */
.task-div {
	color: white;
	background-color: var(--sidebar);
	padding: 1em;
	border-radius: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-left-div {
	display: flex;
	align-items: center;
	inline-size: 1150px;
	word-break: break-all;
	overflow-wrap: break-word;
}

.task-left-div h4 {
	font-size: 2em;
	font-weight: bold;
	width: 200px;
}

.task-left-div p {
	font-size: 1.2em;
	font-style: italic;
}
.task-right-div {
	/* width: 300px; */
}

.complete-task {
	color: red;
}

.high {
	border-left: 5px solid red;
}

.medium {
	border-left: 5px solid rgb(255, 153, 0);
}

.low {
	border-left: 5px solid rgb(127, 218, 22);
}